<div class="p-10">
	<mat-card>
		<mat-card-header>
			<mat-card-title>
				<h2>Liste of countries</h2>
			</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<div *ngIf="dataSource.data.length; else noRecord">
				<table mat-table [dataSource]="dataSource" class="main-table">
					<!-- indicator Column -->
					<ng-container matColumnDef="indicator">
						<th mat-header-cell *matHeaderCellDef>Indicator</th>
						<td mat-cell *matCellDef="let element">
							{{ element.indicator.value }}
						</td>
					</ng-container>

					<!-- Name Column -->
					<ng-container matColumnDef="country">
						<th mat-header-cell *matHeaderCellDef>Country</th>
						<td mat-cell *matCellDef="let element">
							{{ element.country.value }}
						</td>
					</ng-container>

					<!-- date Column -->
					<ng-container matColumnDef="date">
						<th mat-header-cell *matHeaderCellDef>Date</th>
						<td mat-cell *matCellDef="let element">{{ element.date }}</td>
					</ng-container>

					<!-- countryiso3code Column -->
					<ng-container matColumnDef="countryiso3code">
						<th mat-header-cell *matHeaderCellDef>Iso code</th>
						<td mat-cell *matCellDef="let element">
							{{ element.countryiso3code }}
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
				</table>

				<mat-paginator
					[pageSizeOptions]="[5, 10, 20]"
					showFirstLastButtons
					aria-label="Select page of periodic elements"
				>
				</mat-paginator>
			</div>
			<ng-template #noRecord>
				<div>
				 No Result found ...
				 </div>
			   </ng-template>
		</mat-card-content>
	</mat-card>
</div>
